<div id="imageSection" class="grid grid-cols-6 gap-x-5 gap-y-8">

    <div id="mp-1" class="col-span-3 p-4 pt-64 bg-cover bg-no-repeat bg-center rounded-4xl">
        <div class="bg-black w-max text-white py-3 px-6 font-semibold rounded-full">Home insurance</div>
    </div>

    <div id="mp-2" class="col-span-1 p-4 pt-64 bg-cover bg-no-repeat bg-center rounded-full shadow-lg shadow-gray-50/20"></div>

    <div id="mp-3" class="col-span-2 p-8 rounded-4xl bg-primary-50 flex flex-col justify-between">
        <section>
            <h3>Best Choice</h3>
            <p class="mt-3">Not all insurance are the same. That's why agency know that your insurance should be customised to suit your situation.</p>
        </section>
        <section>
            <button mpButton mpButtonTheme="full" mpButtonBgColor="bg-pinkish">View all services</button>
        </section>
    </div>

    <div id="mp-4" class="col-span-2 p-4 pt-44 bg-cover bg-no-repeat bg-center rounded-4xl">
        <div class="bg-black w-max text-white py-3 px-6 font-semibold rounded-full">Vehicle damage</div>
    </div>

    <div id="mp-5" class="col-span-2 p-4 pt-44 bg-cover bg-no-repeat bg-top rounded-4xl">
        <div class="bg-black w-max text-white py-3 px-6 font-semibold rounded-full">Mortgage insurance</div>
    </div>

    <div id="mp-6" class="col-span-2 p-4 pt-44 bg-cover bg-no-repeat bg-center rounded-4xl">
        <div class="bg-black w-max text-white py-3 px-6 font-semibold rounded-full">Medical expenses</div>
    </div>


</div>