#mp{
    &-1{
        background-image: url('/assets/home insurance.jpg');
    }
    &-2{
        background-image: url('/assets/beach dog.jpg');
    }
    &-4{
        background-image: url('/assets/car invest.jpg');
    }
    &-5{
        background-image: url('/assets/home invest.jpg');
    }
    &-6{
        background-image: url('/assets/drug tablets.jpg');
    }
}