<div class="flex items-center justify-between">

    <section #heroText id="heroText" class="w-3/5"><h1> <span class="text-[6.5rem]">Darcy's</span> <br> <span>Insurance</span> <br> <span>Product</span></h1></section>

    <section class="w-2/5 grid grid-cols-2 gap-6">
      <div class="flex flex-col gap-y-8 justify-center">

        <section class="mp-card-cols">
            <div class="bg-white text-primary-100 text-2xl font-black w-10 h-10 flex rounded-full">
                <fa-icon class="m-auto" [icon]="faAsterisk()" />
            </div>
            <p class="mt-4 mr-4">
                Our <span class="text-accent font-semibold underline cursor-pointer">plans</span> are saving policyholders 30% - 60% on premiums
            </p>
        </section>

        <section class="mp-card-cols">
            <div class="bg-white text-primary-100 text-2xl font-black w-10 h-10 flex rounded-full">
                <fa-icon class="m-auto" [icon]="faAsterisk()" />
            </div>
            <p class="mt-4 mr-4">
                We offer a choice of low dedactibles and include no cost value-added services.
            </p>
        </section>

        <section #arrowDown>
            <a href="/#ImageSection">
                <img class="bg-gradient-to-b from-primary-100 to-primary-50 rounded-bl-2xl rounded-br-2xl" src="assets/arrow-down.png" alt="arrow-down">
            </a>
        </section>

      </div>

      <div class="overflow-hidden relative flex items-center max-h-[550px]">
        <img #heroImage id="heroImage" class="rounded-full h-full w-full object-cover shadow-lg shadow-gray-50/20" src="assets/baloon 2.jpeg" alt="pexels air baloon">
      </div>

    </section>

  </div>