<div>

  <section class="flex">

    <div class="w-2/3">
      <h3 #footerFormText>Need numbers?</h3>
      <app-footer-form />
    </div>

    <div id="mp-footer-text-box" class="w-1/3 grid gap-y-8">
        <section>
            <h5>Insurance service</h5>
            <div class="mt-5 flex items-center gap-x-5 gap-y-3 flex-wrap text-gray-400 text-sm mp-footer-text">
                <span>Medical expenses</span>
                <span>Family health insurance</span>
            </div>
            <div class="mt-5 flex items-center gap-x-5 gap-y-3 flex-wrap text-gray-400 text-sm mp-footer-text">
                <span>Vehicle damage</span>
                <span>Property loss</span>
                <span>Fire</span>
            </div>
        </section>

        <section>
            <h5>Company</h5>
            <div class="mt-5 flex items-center gap-x-5 gap-y-3 flex-wrap text-gray-400 text-sm mp-footer-text">
                <span>About</span>
                <span>Career</span>
                <span>Help</span>
                <span>Blog</span>
            </div>
        </section>

        <section>
            <h5>Bonus</h5>
            <div class="mt-5 flex items-center gap-x-5 gap-y-3 flex-wrap text-gray-400 text-sm mp-footer-text">
                <span>Gift certificate</span>
                <span>Affiliate program</span>
                <span>Trainings</span>
            </div>
        </section>
    </div>

  </section>

  <section class="mt-20 flex items-center">
    <section class="w-1/6 mp-footer-text">
        <div id="footer-icon" class="relative -mt-5">
            <fa-icon class="text-3xl text-white absolute" [icon]="faLifeRing()"></fa-icon>
        </div>
    </section>
    <p class="text-xs text-gray-400 mp-footer-text">Darcy's insurance products</p>
  </section>

</div>
