:root{
    --mp-header-family: 'Libre Baskerville';
    --mp-body-family: 'Poppins';
    --mp-accent:'#91dded',
    --mp-pinkish:'#ff6f81',
    --mp-primary-50:'#0c1d33',
    --mp-primary-100:'#070d19',
}