:root{
    --mp-header-family: 'Libre Baskerville';
    --mp-body-family: 'Poppins';
    --mp-accent:'#84d7e9',
    --mp-pinkish:'#ff6476',
    --mp-primary-50:'#0c1d33',
    --mp-primary-100:'#0b0f17',
}