.swiper::ng-deep{
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: white;
}


.swiper{
    &::ng-deep{
        margin: 0;
        width: 650px;
        padding-bottom: 4rem;
    }
    &-slide ::ng-deep{
        display: flex;
    }
}

@for $i from 1 through 4 {
    .mp-card-#{$i} {
      animation-delay: #{300ms * $i};
    }
}